/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "breakpoint";

/** Breakpoints **/
$desktop : 1024px;
$tablet : 640px 1024px;
$phone : 320px 639px;


/** Mixins **/
@mixin radialgradient($middle, $orange){
	background-image: -webkit-radial-gradient(0px $middle, closest-corner, $orange 0%, #fafdc5 100%) repeat scroll 0% 0% rgba(0, 0, 0, 0);
	background-image: radial-gradient(circle closest corner at left, $orange, #fafdc5);
	background-image: (radial-gradient(0, $middle, $orange $middle/2, #fafdc5 $middle*2));
}
@mixin at-hdpi() {
  @media
  only screen and (-webkit-min-device-pixel-ratio: 1.3),
  only screen and (min-resolution: 120dpi),
  only screen and (min-resolution: 1.3dppx) { 
    @content;
  }
}
@mixin hdpiswitch($image, $imagehdpi) {
  $filename: "#{$image}";
  $filename-hdpi: "#{$imagehdpi}";
  background-image: image-url($filename);
  @include at-hdpi {
    background-image: image-url($filename-hdpi);
  }
}

section {
	width: 100%;
	padding: 5px;
	margin: 5px;
	@include breakpoint ($desktop) {
		width: 30%;
		display: block;
		float: left;
	}
}

section:nth-child(1){
	@include radialgradient(80px, #f49d54);
	div#hurricane { 
		margin: 0px auto;
		height: 180px;
		width: 320px;
		@include hdpiswitch("http://dsx.weather.com/util/image/w/68a62f4e-122e-4c72-91b2-ec9f5024e031.jpg?v=at&w=320&h=180&api=7db9fe61-7414-47b5-9871-e17d87b8b6a0","http://dsx.weather.com/util/image/w/68a62f4e-122e-4c72-91b2-ec9f5024e031.jpg?api=7db9fe61-7414-47b5-9871-e17d87b8b6a0&h=598&w=640&v=at");
		display: block;
		background-position: 25% 25%;
		.invert {
			@include radialgradient(80px, #ccc);
		}
	}
}
section:nth-child(2){
	@include radialgradient(50px, #f4470c);	
}
section:nth-child(3){
	@include radialgradient(10px, #f4180c);	
}

body.invert {
	@include radialgradient(900px, #333);
}
#directive {
	width: 200px;
	height: 50px;
	color: #333;
	border: 1px solid #f49d54;
	float: left;
}
