.ui-widget-overlay {
  display: none;
}
.ui-dialog.media-wrapper {
  z-index: 1002 !important;
}
#edit-audio-file .preview .media-thumbnail .label-wrapper .media-filename {
  display: none;
}
.file-audio-form #edit-indicator.focal-point-indicator {
  display: none;
}
.audio #mediaBrowser #file-entity-add-upload .focal-point-indicator,
.audio #mediaBrowser #file-entity-add-upload img,
.audio #mediaBrowser #file-entity-add-upload .focal-point-preview-link {
  display: none;  
}