@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Ruluko);

/** Responsive snippet; mobile view will have the accounts stacked, wider view will have them side-by-side **/
@media screen and (max-width: 699px) {
  #content {
    width: 350px
  }
}
@media screen and (min-width: 700px) {
  #content {
    width: 700px;
  }
}

#content
{
  margin: 0px auto;
  text-align: center;
}

#nav
{
  margin: 50px 0px;
}

#title
{
  font-family: 'Oleo Script', cursive;
  font-size: 50px;
  color: #F52F4F;
}

.account
{
  padding: 10px;
  border: 1px solid #295A33;
  background-color: #6C9A74;
  font-family: 'Ruluko', sans-serif;
  font-size: 16px;
  /* having only one float definition will make it more responsive. Equal left and right margins will keep it centered within #content, bottom margin for mobile view, or when there are more accounts */
  float: left;
  margin: 0 10px 20px 10px;
}

.balance
{
  font-family: 'Ruluko', sans-serif;
  font-size: 50px;
  padding: 25px 0px;
  background-color: #E3E3E3;
  border: 1px solid #676767;
}

.clear
{
  clear: both;
}

.zero
{
  background-color: #F52F4F;
  color: #FFFFFF;
}

